cdot65*.tar.gz
__pycache__/
*.pyc
tests/output/*
venv/
.vscode/
changelogs/.plugin-cache.yaml
docs/_build/*
.python-version
pb.*.yml
.DS_Store
.env

# https://github.com/ansible/ansible/issues/68499
# ansible_collections/

# Hypothesis output when tests are run locally
.hypothesis/

# any authentication used for tests
auth.yaml

development/
cdot65/prisma_access/group_vars/
cdot65/prisma_access/ansible.cfg
cdot65/prisma_access/inventory.yaml
cdot65/prisma_access/test.yaml